<h1 class="head-line">過去ログ一覧</h1>
<%=search_form_for(@q, html: {style:"margin-bottom:10px"}) do |f| %>
 <div class="form_group col-sm-4">
   <%= f.search_field :content_cont, placeholder: "検索する",class: "form-control" %>
 </div>
   <%=f.submit "検索", class:"btn btn-warning" %>
<% end %>
<%= render "diaries/diaries", diaries: @diaries %>