/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 
 body{
   background:linear-gradient( #edf9ff00, #16eefb8a);
   font-family: 'Kosugi Maru', sans-serif;
 }
 
a {
    color: #0084f5;
    text-decoration: none;
}
 
 a:hover{
  color: #fff;  
}
footer {
  margin-top:20px;
  padding-top: 20px;
  padding-bottom:10px;
  background-color:rgba(235,235,235, 0.4);
}
.container {
    width: 90%;
}


.text-size-16 {
  font-size:16px;
}

.head-line{
  border-bottom:solid 3px orange; 
  padding-bottom:8px;
  margin-bottom: 20px;
}
.top-bg{
  background: url("/toppage.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  height:100%;
}
.top-bg::before{
  background-color: rgba(0,0,255,0.2);
  position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: ' ';
}

.jumbotron-extend{
  position:relative;
  height:100vh;
  
  margin-top:0;
  background-color: transparent;
  
}
/* toppage */
.jumbotron-extend h1{
  font-family: 'Ubuntu', sans-serif;
  font-size:100px;
  color: #e3fdff;
  border-bottom: solid 10px #ffd17c;
  text-shadow:2px 2px 10px #000;
    box-shadow:0px 2px orange;
}

.jumbotron-extend p{
  font-size:16px;
  line-height:100%; 
  margin:0;
  
}

.well-blue{
  background-color: rgba(255, 255, 255, 0.9);
  border-color: white;
  margin-top: 40px;
}

/* form周りの調整*/
.col-div {
  padding-left:0;
}
.col-div p{
  padding:10px;
  padding-left:0;
  margin:0;
}

.col-form{
  padding-left:0;
  padding-right:0;
}

.col-input{
  padding-left:5px;
}

.panel-body p{
  color:rgb(100, 100, 100);
  font-size:16px;
}

.panel-body h4{
  display:inline-block;
  border-bottom:solid 2px orange;
}
/*form*/
.panel-form >.panel-heading{
  background-color: #fff8a7;
  border-color: #ffed13;
}

.panel-form{
  border-color: #ffed13;
}

.btn-extend{
    color: #fff;
    background-color: rgba(74, 171, 255, 0.8);
    border-color: #4aabff;
}
.btn-extend:hover{
    color: #fff;
    background-color: rgba(74, 171, 255, 1);
    border-color: #4aabff;
}
.btn-edit{
    color: #fff;
    background-color: rgba(69, 46, 255, 0.8);
    border-color: rgba(69, 46, 255, 1);
}
.btn-edit:hover{
    color: #fff;
    background-color: rgba(69, 46, 255, 1);
    border-color: rgba(69, 46, 255, 1);
}



/* form-error*/

#num-error-p, #num-error-w, #num-error-p-fix, #num-error-w-fix{
  color:red;
}

.error-inactive{
  display:none;
}



/*navbar*/
.navbar-extend{
  background-color: #b9fbff;
  border-bottom:none;
}

.brand-extend{
  font-family: 'Ubuntu', sans-serif;
}

.navbar-nav a{
  font-family: 'Kosugi Maru', sans-serif;
}

/* flash */
.fade-out-flash{
  position:absolute;
  /*background: radial-gradient(#fff, #dff0d8);*/
  top:63px;
  width:90%;
  margin: auto;
  z-index:10000;
  opacity:1;
  font-size:16px;
}

#close-flash{
  position: absolute;
  top:16px;
  right:10px;
  cursor:pointer;
  font-size: 18px;
  color:gray;
}

/* profile */
.table-header {
    background-color: #fbd0d0;
    vertical-align: middle;
}
.table-body{
  background-color: #fff;
    vertical-align: middle;
}

.table-profile>tbody>tr>td, .table-profile>tbody>tr>th, .table-profile>tfoot>tr>td, .table-profile>tfoot>tr>th, .table-profile>thead>tr>td, .table-profile>thead>tr>th {
    border: 1px solid #f9b3b3;
}
.table-bordered{
  border-radius: 4px;
}

.href-btn{
  color:#fff;
}

/* modal-diary*/

#mask{
  background:rgba(0, 0, 0, 0.4);
  position:fixed;
  top:0;
  bottom:0;
  right:0;
  left:0;
  z-index: 99;
}
#mask.hidden{
  display: none;
}

#modal-diary{
  width: 600px;
  position:absolute;
  top:120px;
  right:0;
  left:0;
  margin:0 auto;
  z-index:100;
}
#modal-diary.hidden{
  display: none;
}

#close-modal-diary{
  position:absolute;
  top: 8px;
  right: 8px;
  cursor:pointer;
  font-size: 18px;
  color:gray;
}

.set-goal a:hover{
  color:#0084f5;
}

.navbar-extend .navbar-header span{
  color: #0084f5;
}
.navbar-extend .navbar-header button{
  margin: 8px;
  padding:9px;
}

/* 掲示板 */

.boards a{
  color:#000;
  text-decoration:none;
}

.board-box{
  height:150px; 
  background:#fff; 
  margin-bottom:10px; 
  border: solid 1px silver;
  border-radius: 5px;
  position:relative;
}

.board-box h3{
  padding:15px; 
  padding-bottom:0; 
  margin:0;
}
.board-box p{
  padding:0 15px; 
  margin:0 30px 20px 30px;
  display: -webkit-box; 
  -webkit-box-orient: vertical; 
  -webkit-line-clamp: 2; 
  overflow: hidden;
}

.board-box .time-ago{
  margin:0;
  padding:0;
  color:rgba(150, 150, 150, 0.9); 
  position:absolute;
  bottom:5px;
  right:15px;
}



.board-more-box{
  background:#fff; 
  margin-bottom:10px; 
  border: solid 1px silver;
  border-radius: 10px;
  position:relative;
}

.board-more-box h3{
  padding:15px; 
  padding-bottom:0; 
  margin:0;
}
.board-more-box p{
  padding:0 15px; 
  margin:0 30px 20px 30px;
}
.board-more-box .time-ago{
  margin:0;
  padding:0;
  color:rgba(150, 150, 150, 0.9); 
  position:absolute;
  top:15px;
  right:15px;
}


/* メディアクリエ */
@media only screen and (max-width: 736px){
  
  /*body{
    line-height: 0;
  }*/
  
  h1, h2, h3, h4{
    font-size:16px;
  }
  
  .panel-body p {
    color: rgb(100, 100, 100);
    font-size: 14px;
  }
  
  .panel-heading h2{
    margin:0;
  }
  .navbar-extend{
    margin-bottom:0;
  }
  
  #open-modal-diary{
    display:none;
  }
  .jumbotron-extend h1 {
    font-size: 40px;
    border-bottom: solid 6px #ffd17c;
    text-shadow:2px 2px 10px #000;
    box-shadow:0px 2px orange;
  }
  .jumbotron-extend h1 span{
    font-size: 70px;
    font-weight:900;
  }
  
  .fade-out-flash {
    width: 91%;
  }
  
  .container {
    width: 95%;
  }
  
}